@media all and (max-width: 760px){
.container{
  display: flex;
  flex-wrap: wrap;
  
}

#a{
  width: 100%;
  height: 75px;
  line-height: 75px;
  background-color:	#ffb3b3;
}

#b{
  width: 100%;
  height: 150px;
  line-height: 150px;
  background-color: #ffd9b3;
}

#c, #d{
  width: 100%;
  height: 125px;
  line-height: 125px;
}

#c{
  background-color:#ffffb3;
}

#d{
  background-color: #c6ffb3;
}

#e, #f, #g, #h{
  width: 50%;
  height: 250px;
  line-height: 250px;
  display: flexbox;
  box-sizing: border-box;
}

#e{
  background-color: #b3ffff;
}

#f{
  background-color: #b3c6ff;
}

#g{
  background-color:#d9b3ff;
}

#h{
  background-color:#ffb3ff ;
}

#i{
  width: 100%;
  height: 80px;
  line-height: 80px;
  background-color: #fe7e9e;
}
}

@media all and (min-width:760px) and (max-width:960px){
  .container{
    display: flex;
    flex-wrap: wrap;
  }

  #a{
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: #845EC2;
  }
  
  #b{
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: #D65DB1;
  }
  
  #c, #d{
    width: 50%;
    height: 200px;
    line-height: 200px;
  }

  #c{
    background-color:#FF6F91;
  }

  #d{
    background-color: #FF9671;
    
  }
  #e, #f, #g, #h{
    width: 25%;
    height: 250px;
    line-height: 250px;
  }

  #e{
    background-color: #FFC75F;
  }
  
  #f{
    background-color: #F9F871;
  }
  
  #g{
    background-color:#00C9A7;
  }
  
  #h{
    background-color:#4E8397;
  }
  
  #i{
    width: 100%;
    height: 150px;
    line-height: 150px;
    background-color: #008AC2;
  }
}

@media all and (min-width:960px){
  .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 250px 150px;
    flex-wrap: wrap;

  }
  #a{
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: #FFF387;
  }
  
  #b{
    width: 1fr;
    height: 600px;
    line-height: 600px;
    background-color: #515D60;
  }
  
  #c, #d{
    width: 2fr;
    height: 200px;
    line-height: 200px;
  }

  #c{
    background-color:#6E6D6E;
    grid-column-start: 2;
    grid-column-end: 4;
  }

  #d{
    background-color: #DFDACD;
    grid-column-start: 4;
    grid-column-end: 6;
  }

  #e, #f, #g, #h{
    width: 1fr;
    height: 250px;
    line-height: 250px;
    justify-content: stretch;
  }

  #e{
    background-color: #DAE3E6;
    grid-row: 2;
    grid-column: 2;
  }
  
  #f{
    background-color: #A0E7E5;
    grid-row: 2;
    grid-column: 3;
  }
  
  #g{
    background-color:#B4F8C8;
    grid-row: 2;
    grid-column: 4;
  }
  
  #h{
    background-color:#FBE7C6;
    grid-row: 2;
    grid-column: 5;
  }
  
  #i{
    height: 150px;
    line-height: 150px;
    background-color: #FFAEBC;
    grid-row: 3;
    grid-column: 2 / 6;
  }
}
  